language: go

go:
  - 1.x

install:
  - go get github.com/mitchellh/gox
  - curl -sL -o glide.tgz https://github.com/Masterminds/glide/releases/download/v0.12.3/glide-v0.12.3-linux-amd64.tar.gz
  - tar -xvf glide.tgz
  - linux-amd64/glide install

after_success:
  - gox -arch="amd64" -os="windows linux darwin"

deploy:
  provider: releases
  api_key:
    secure: wPmKAgR7ZXxQzSGbxfVv/TMQSiqXGcOwGg7qJybwvoNIEzpmwSN9IJcz1j5uudrjgHZwqaeJf/+Nu+gJSyO8eDkIjrmwUGoyEKBpwvsRfKJl/ZhB49FIqv3ddMtSPc3j8m2EJEkZOZXJp+r61ZoCxcr1WORweQt2cdva3D1s0EoN1nNLZV3OpBB0I+vZ8nm2F4xoKWSgO7MzMNAZqp0wdBx4ERXQKzhwS1Swcq8w2C0g1+fJEM36yrtoiHwKbLWEjDA4FogmJnmEXKz9yBOHi2+/RnFG87+0h5VvsvBFSQc3e/ekXfNbbRhUoXEgTuBIMIhS9MIGuk6AmMJpFMagpuJJbnANELymtyv2XytNWgM4wWdWWHFmf2hqyXwdtTdYBUWwU3rtavxCEtFccoFPe0gbuDcSojIXIgkEsKZnKODAnC9roFDzuJ4Xys2IPXgReRY1+lSb7ay36wz5aRFCe0aeoaudp3L1akloPk9titsWv1L47c5z5aWnZ+eZ6kIRmaPlLH8BVxZVRMO4Eg8M+Yf0pC4D/TWyweyA2oiHcSUwkJcZSX/AsCHcT0HWVtNUtjMiO12Kte4gQp7tmdSrXWCwL9tYWfKGvJUzlqRwt574Ch9sad5xHRET9L65DZl8Acy2oHogpHij02u6ljfYG+o9SOLjbUiU5QtnMT7t15E=
  skip_cleanup: true
  file:
    - stackit_linux_amd64
    - stackit_darwin_amd64
    - stackit_windows_amd64.exe
  on:
    tags: true
    repo: glassechidna/stackit